.filterContainer{
    height: auto;
    width: 100%;
    border: 3px solid #F1F1F1;
}
.filterHeader{
    background-color:#F1F1F1 ;      
}
.filterHeader h5{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 1%;
}