.avg-session-progress{
    width: 600px !important;
}
.flatpickr-months , .flatpickr-prev-month{
    display: none !important;
}
.scroll{
    min-height: 100px;
    max-height: 300px;
    overflow: auto;
}